.CardCategory {
  text-align: left;
  margin: 0 20px;
}

.CardCategory:hover {
  text-decoration: underline;
}

.CardCategory__link {
  text-decoration: none;
  color: var(--text-color-primary);
}

.CardCategory__image {
  width: 300px;
  height: 100%;
}

.CardCategory__title {
  font-size: var(--font-size-16px);
  margin-top: var(--spacing-10px);
}

@media (max-width: 768px) {
  .CardCategory__link {
    text-decoration: none;
    width: 300px;
    display: block;
  }
  .CardCategory {
    text-align: left;
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .CardCategory__link {
    width: 280px;
  }
}

@media (max-width: 375px) {
  .CardCategory__link {
    width: 200px;
  }
}