.categoryCard {
  text-align: left;
  margin: 0 20px;
}

.categoryCard:hover {
  text-decoration: underline;
}

.categoryCard__link {
  text-decoration: none;
  color: var(--text-color-primary);
}
.categoryCard__image {
  width: 300px;
  height: 100%;
}
.categoryCard__title {
  font-size: var(--font-size-16px);
  margin-top: var(--spacing-10px);
}

@media (max-width: 768px) {
  .categoryCard__link {
    text-decoration: none;
    width: 300px;
    display: block;
  }
  .categoryCard {
    text-align: left;
    margin: 0;
    width: 100%;
  }
}