.productCard {
  height: 100%;
}

.productCard__image-container {
  background-color: var(--color-bg-secondary);
}

.productCard__image-container img {
  width: 80%;
  margin: 0 auto;
  padding: var(--spacing-40px) 0px;
}
.productCard__info {
  padding: var(--spacing-5px);
  padding-bottom: 0;
}
.productCard__brand, .productCard__name, .productCard__rating, .productCard__price  {
  font-size: var(--font-size-14px);
  line-height: var(--font-size-16px);
  margin-bottom: var(--spacing-5px);
}
.productCard__name {
  display: -webkit-box;        
  -webkit-line-clamp: 2;       
  -webkit-box-orient: vertical;
  overflow: hidden;  
}
.productCard__brand {
  font-weight: 600;
  color: var(--color-text-secondary);
} 
.productCard__price {
  font-weight: 600;
}
.productCard__rating {
  display: flex;
  align-items: center;
}
.productCard__rating-count {
  font-size: var(--font-size-10px);
  color: var(--color-text-secondary);
  padding-left: var(--spacing-5px);
}